@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  
  --color-card: #ffffff;
  --color-card-foreground: #0f172a;

  --color-popover: #ffffff;
  --color-popover-foreground: #0f172a;

  --color-primary: #0f172a;
  --color-primary-foreground: #f8fafc;

  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #0f172a;

  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  --color-accent: #f1f5f9;
  --color-accent-foreground: #0f172a;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #f8fafc;

  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #0f172a;

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --color-background: #020617;
  --color-foreground: #f8fafc;

  --color-card: #020617;
  --color-card-foreground: #f8fafc;

  --color-popover: #020617;
  --color-popover-foreground: #f8fafc;

  --color-primary: #f8fafc;
  --color-primary-foreground: #0f172a;

  --color-secondary: #1e293b;
  --color-secondary-foreground: #f8fafc;

  --color-muted: #1e293b;
  --color-muted-foreground: #94a3b8;

  --color-accent: #1e293b;
  --color-accent-foreground: #f8fafc;

  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #f8fafc;

  --color-border: #1e293b;
  --color-input: #1e293b;
  --color-ring: #cbd5e1;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.custom-toast-enter {
  animation: slideIn 0.4s ease-out;
  @apply p-4 mb-2 max-w-md w-full bg-slate-800 text-white rounded-lg shadow-lg;
}

.custom-toast-leave {
  animation: fadeOut 0.3s ease-in forwards;
}

.custom-toast-enter:last-child {
  @apply mb-0;
}